<main id="main" class="main">
    <div class="card-message">
        <p-messages [(value)]="messages" [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" [enableService]="false"/>
    </div>
    <div class="card" id="tblmu">
        <div style="margin-top: 80px;margin-bottom: 10px;">
            <h3 style="color: #283895; text-align: center;">Manage Employees</h3>
        </div>
        <div style="margin-bottom: 15px; text-align: right; margin-right: 20px;">
            <button pButton pRipple label="Add Employee" icon="pi pi-user-plus" class="p-button-info p-button-sm"
                (click)="showAddDialog()"></button>
        </div>
        <p-table #dt1 [value]="data" responsiveLayout="scroll" [autoLayout]="true" [paginator]="true" [rows]="5"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {last} of {totalRecords} entries"
            [globalFilterFields]="['empid', 'first_name','last_name','unit','position','salary','email','phone','gender','department']">
            [rowsPerPageOptions]="[3, 5, 10]">

            <ng-template pTemplate="caption">
                <div class="Flex">
                    <span class="p-input-icon-left ml-auto">
                        <input pInputText class="cofsearch" type="text" #input
                            (input)="dt1.filterGlobal(input.value, 'contains')" placeholder="Search Employee" />
                    </span> 
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Employee Id</th>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Department</th>
                    <th>Position</th>
                    <th>Salary</th>     
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-employees>
                <tr>
                    <td>{{employees.empid}}</td>
                    <td>{{employees.first_name}} {{employees.last_name}}</td>
                    <!-- <td>{{employees.last_name}}</td> -->
                    <td>{{employees.email}}</td>
                    <td>{{employees.phone}}</td>
                    <!-- <td>{{employees.unit}}</td> -->
                     <td>{{employees.department}}</td>
                    <td>{{employees.position}}</td>
                    <td>{{employees.salary}}</td>  
                    <td>
                        <p-button icon="pi pi-user-edit" styleClass="p-button-sm mr-2 mb-2"
                            (click)="showUpdateDialog(employees)"></p-button>
                        <p-button  icon="pi pi-info-circle" styleClass="p-button-sm mr-2 mb-2"  [routerLink]="['/emplyeeprofile']" routerLinkActive="router-link-active"  
                     ></p-button>     
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No employeess found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>


    <!-- add employee modal -->
    <p-dialog [(visible)]="visible" header="Add Employee" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }"
        [maximizable]="true" [modal]="true" class="dialog"
        >
        <form [formGroup]="form" (ngSubmit)="onAddEmployee()">
            <div class="row">

                <!-- First Name-->
                <div class="form-group col-md-6">
                    <label for="firstName" class="form-label">First Name<span class="asteriks">*</span></label>
                    <input type="text" formControlName="first_name" class="form-control" id="firstName" [ngClass]="{
                                       'is-invalid': submitted && f['first_name'].errors
                                     }">
                    <div *ngIf="submitted && f['first_name'].errors" class="invalid-feedback">
                        <div *ngIf="f['first_name'].errors?.['required']">
                            Please, enter employees's first name
                        </div>
                        <div *ngIf="f['first_name'].errors?.['pattern']">
                            Please enter a valid first name!
                        </div>
                    </div>
                </div>

                <!-- Last Name-->
                <div class="form-group col-md-6">
                    <label for="lastName" class="form-label">Last Name<span class="asteriks">*</span></label>
                    <input type="text" formControlName="last_name" class="form-control" id="lastName" [ngClass]="{
                                                           'is-invalid': submitted && f['last_name'].errors
                                                         }">
                    <div *ngIf="submitted && f['last_name'].errors" class="invalid-feedback">
                        <div *ngIf="f['last_name'].errors?.['required']">
                            Please, enter employees's last name
                        </div>
                        <div *ngIf="f['last_name'].errors?.['pattern']">
                            Please enter a valid last name!
                        </div>
                    </div>
                </div>

                <!-- Unit-->
                <div class="form-group col-md-6">
                    <label for="unit" class="form-label">Unit<span class="asteriks">*</span></label>
                    <p-dropdown formControlName="unit" [options]="branchdata" optionLabel="name" optionValue="id"
                        [filter]="true" filterBy="name" id="unit" [virtualScrollItemSize]="30" [virtualScroll]="true"
                        [style]="{'width':'100%'}" placeholder="select branch" [ngClass]="{
                            'is-invalid': submitted && f['unit'].errors
                          }">
                    </p-dropdown>
                </div>

                <!-- Job Position-->
                <div class="form-group col-md-6">
                    <label for="jobPosition" class="form-label">Job Position<span class="asteriks">*</span></label>
                    <p-dropdown formControlName="position" [options]="positions" optionLabel="title" optionValue="id"
                        [virtualScroll]="true" [virtualScrollItemSize]="38" placeholder="Select job position"
                        [filter]="true" [appendTo]="'body'" [style]="{'width':'100%'}" [ngClass]="{
                                                        'is-invalid': submitted && f['position'].errors
                                                      }">
                    </p-dropdown>
                    <div *ngIf="submitted && f['position'].errors" class="invalid-feedback">
                        <div *ngIf="f['position'].errors?.['required']">
                            Job Position is required!
                        </div>
                    </div>
                </div>

                <!-- Salary-->
                <div class="form-group col-md-6">
                    <label for="salary" class="form-label">Salary<span class="asteriks">*</span></label>
                    <input type="text" class="form-control" name="salary" formControlName="salary" id="salary"
                        [ngClass]="{
                                                 'is-invalid': submitted && f['salary'].errors
                                               }" />
                    <div *ngIf="submitted && f['salary'].errors" class="invalid-feedback">
                        <div *ngIf="f['salary'].errors?.['required']">
                            Please, enter emp salary
                        </div>
                    </div>
                </div>

                <!-- Email-->
                <div class="form-group col-md-6">
                    <label for="email" class="form-label">Email<span class="asteriks">*</span></label>
                    <input type="text" formControlName="email" class="form-control" id="email" [ngClass]="{
                                        'is-invalid': submitted && f['email'].errors
                                      }" required>

                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors?.['required']">
                            email is required.
                        </div>
                        <div *ngIf="f['email'].errors?.['email']">
                            Please enter a valid email!
                        </div>
                    </div>
                </div>

                <!-- Phone Number-->
                <div class="form-group col-md-6">
                    <label for="yourPhone" class="form-label">Phone Number<span class="asteriks">*</span></label>
                    <input type="text" formControlName="phone" class="form-control" id="yourPhone" [ngClass]="{
                                        'is-invalid': submitted && f['phone'].errors
                                      }" required>
                  
                    <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
                        <div *ngIf="f['phone'].errors?.['required']">
                            Phone number is required!
                        </div>
                        <div *ngIf="f['phone'].errors?.['pattern']">
                            Please enter a valid phone number which starts with 09, 07 or +251!
                        </div>
                    </div>
                </div>

                <!-- Gender -->
                <div class=" form-group col-md-6">
                    <label for="gender" class="form-label">Gender<span class="asteriks">*</span></label>
                        <div class="Flex align-items-center">
                            <p-radioButton 
                                value="Man" 
                                [(ngModel)]="gender" 
                                inputId="gender1" />
                            <label for="gender1" class="ml-2">Man</label>
         
                            <p-radioButton  
                                value="Woman" 
                                [(ngModel)]="gender" 
                                inputId="geender2" />
                            <label for="gender2" class="ml-2">Woman</label>
                        </div>
                </div>

                <!-- picture --> 
                <div class=" form-group col-md-6">
                    <label for="picture" class="form-label">Picture</label>
                    <input type="file" class="file" (change)="onFileChanged($event)">
                </div>
                 <!-- <div class="col-md-3">
                    <input type="button " (click)="onUpload() " value="upload">
                 </div> -->
                   
                 <!-- department -->
                <!-- <div class="form-group col-md-6">
                    <label for="department" class="form-label">Department<span class="asteriks"></span></label>
                    <p-dropdown formControlName="department" [options]="department" optionLabel="title" optionValue="id"
                        [virtualScroll]="true" [virtualScrollItemSize]="38" placeholder="Select department"
                        [filter]="true" [appendTo]="'body'" [style]="{'width':'100%'}" [ngClass]="{
                                                        'is-invalid': submitted && f['department'].errors
                                                      }">
                    </p-dropdown>
                    <div *ngIf="submitted && f['department'].errors" class="invalid-feedback">
                        <div *ngIf="f['department'].errors?.['required']">
                            Department is required!
                        </div>
                    </div> 
                </div> -->

            </div>
            <!-- Submit Button-->
            <div class="modal-footer" style="margin-top: 5px;">
                <p-button type="submit" icon="pi pi-user-plus" styleClass="p-button-sm p-button-info"
                    label="Add Employee"></p-button>
            </div>
        </form>
    </p-dialog>

    

    <!-- update employee modal -->
    <p-dialog [(visible)]="updateVisible" header="Update Employee" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }"
        [maximizable]="true" [modal]="true" 
        >
        <form [formGroup]="formEmployeeUpdate" (ngSubmit)="onUpdateEmployee()">
            <div class="row">

                <!-- First Name-->
                <div class="form-group col-md-6">
                    <label for="firstName" class="form-label">First Name<span class="asteriks">*</span></label>
                    <input type="text" formControlName="first_name" class="form-control" id="firstName" [ngClass]="{
                                       'is-invalid': submitted && f['first_name'].errors
                                     }">
                    <div *ngIf="submitted && f['first_name'].errors" class="invalid-feedback">
                        <div *ngIf="f['first_name'].errors?.['required']">
                            Please, enter employees's first name
                        </div>
                        <div *ngIf="f['first_name'].errors?.['pattern']">
                            Please enter a valid first name!
                        </div>
                    </div>
                </div>

                <!-- Last Name-->
                <div class="form-group col-md-6">
                    <label for="lastName" class="form-label">Last Name<span class="asteriks">*</span></label>
                    <input type="text" formControlName="last_name" class="form-control" id="lastName" [ngClass]="{
                                                           'is-invalid': submitted && f['last_name'].errors
                                                         }">
                    <div *ngIf="submitted && f['last_name'].errors" class="invalid-feedback">
                        <div *ngIf="f['last_name'].errors?.['required']">
                            Please, enter employees's last name
                        </div>
                        <div *ngIf="f['last_name'].errors?.['pattern']">
                            Please enter a valid last name!
                        </div>
                    </div>
                </div>

                <!-- Unit-->
                <div class="form-group col-md-6">
                    <label for="unit" class="form-label">Unit<span class="asteriks">*</span></label>
                    <p-dropdown formControlName="unit" [options]="branchdata" optionLabel="name" optionValue="id"
                        [filter]="true" filterBy="name" id="unit" [virtualScrollItemSize]="30" [virtualScroll]="true"
                        [style]="{'width':'100%'}" placeholder="select branch" [ngClass]="{
                            'is-invalid': submitted && f['unit'].errors
                          }">
                    </p-dropdown>
                </div>

                <!-- Job Position-->
                <div class="form-group col-md-6">
                    <label for="jobPosition" class="form-label">Job Position<span class="asteriks">*</span></label>
                    <p-dropdown formControlName="position" [options]="positions" optionLabel="title" optionValue="id"
                        [virtualScroll]="true" [virtualScrollItemSize]="38" placeholder="Select job position"
                        [filter]="true" [appendTo]="'body'" [style]="{'width':'100%'}" [ngClass]="{
                                                        'is-invalid': submitted && f['position'].errors
                                                      }">
                    </p-dropdown>
                    <div *ngIf="submitted && f['position'].errors" class="invalid-feedback">
                        <div *ngIf="f['position'].errors?.['required']">
                            Job Position is required!
                        </div>
                    </div>
                </div>

                <!-- Salary-->
                <div class="form-group col-md-6">
                    <label for="salary" class="form-label">Salary<span class="asteriks">*</span></label>
                    <input type="text" class="form-control" name="salary" formControlName="salary" id="salary"
                        [ngClass]="{
                                                 'is-invalid': submitted && f['salary'].errors
                                               }" />
                    <div *ngIf="submitted && f['salary'].errors" class="invalid-feedback">
                        <div *ngIf="f['salary'].errors?.['required']">
                            Please, enter emp salary
                        </div>
                    </div>
                </div>

                <!-- Email-->
                <div class="form-group col-md-6">
                    <label for="email" class="form-label">Email<span class="asteriks">*</span></label>
                    <input type="text" formControlName="email" class="form-control" id="email" [ngClass]="{
                                        'is-invalid': submitted && f['email'].errors
                                      }" required>
                    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                        <div *ngIf="f['email'].errors?.['required']">
                            email is required.
                        </div>
                        <div *ngIf="f['email'].errors?.['email']">
                            Please enter a valid email!
                        </div>
                    </div>
                </div>

                <!-- Phone Number-->
                <div class="form-group col-md-6">
                    <label for="yourPhone" class="form-label">Phone Number<span class="asteriks">*</span></label>
                    <input type="text" formControlName="phone" class="form-control" id="yourPhone" [ngClass]="{
                                        'is-invalid': submitted && f['phone'].errors
                                      }" required>
                
                    <div *ngIf="submitted && f['phone'].errors" class="invalid-feedback">
                        <div *ngIf="f['phone'].errors?.['required']">
                            Phone number is required!
                        </div>
                        <div *ngIf="f['phone'].errors?.['pattern']">
                            Please enter a valid phone number which starts with 09, 07 or +251!
                        </div>
                    </div>
                </div>
            </div>

            <!-- submit button -->
            <div class="modal-footer">
                <p-button type="submit" icon="pi pi-pencil" styleClass="p-button-sm" label="Update Employee"></p-button>
            </div>
        </form>
    </p-dialog>

    <!-- employee info modal
    <p-dialog [(visible)]="employeeInfoVisible" header="Employee Information" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }"
        [maximizable]="true" [modal]="true" 
        >
        <p-card header="Employee Information" subheader="employee name" style="width: 300px; ">
            <ng-template pTemplate="header">
                <img alt="Card" src="../../../assets/img/images.jpg" />
            </ng-template>
            <ng-template  pTemplate="body" let-employees>
                <div class="text"> 
                    <span class="label">Name:</span>
                    <span class="value">{{employees.first_name}}</span>
                </div>
                <div class="text"> 
                    <span class="label">Email:</span>
                    <span class="value">{{employees.email}}</span>
                </div>
                <div class="text"> 
                    <span class="label">Phone Number: </span>
                    <span class="value">{{employees.phone}}</span>
                </div>
                <div class="text"> 
                    <span class="label">Position:</span>
                    <span class="value">{{employees.position}}</span>
                </div>
            
                <div class="card flex justify-content-center ">
                     <form [formGroup]="formGroup" class="rating">
                        <p-rating formControlName="value"  />
                    </form> 
                </div>
            </ng-template>
           
        </p-card>

    </p-dialog> -->
   

</main>