<main id="main" class="main">
    <div class="card">
        <div class="container">
            <div class="top-section ">
                <div class="left">
                    <div class="card-body-left">
                        <div class="message">
                            <h6 class="text">Total Employees </h6>
                            <h6 class="num">4</h6>
                        </div>
                        <div class="pi pi-users">

                        </div>
                    </div>
                    <div class="card-body-middle">
                        <div class="message">
                            <h6 class="text">New Joined Employees </h6>
                            <h6 class="num">0</h6>
                        </div>
                        <div class="pi pi-user-plus">
                            
                        </div>
                    </div>
                    <div class="card-body-right">
                        <div class="message">
                            <h6 class="text">Resigned Employees </h6>
                            <h6 class="num">0</h6>
                        </div>
                        <div class="pi pi-sign-out">
                            
                        </div>
                    </div>
                </div>
                <div class="right">
                </div>
            </div>

            <div class="middle-section">
                <div class="card">
                    <p-chart type="line" [data]="data" [options]="options" />
                </div>
                
            </div>

            <div class="bottom-section">
              
            </div>

        </div>

    </div>
</main>