<main>
   <p-toast></p-toast>
   <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                  <a routerLink="/home"><img src="assets/img/AB Horizontal logo with tag line-01.jpg" style="width: 100%;" alt="">
                     <span class="d-none d-lg-block"></span></a>
                  <div class="card mb-3">
                     <div class="card-body">
                        <div class="pt-4 pb-2">
                           <h5 class="card-title text-center pb-0 fs-4">Change Password</h5>
                           <p class="text-center small">Change your password by entering new password!</p>
                        </div>
                        <form class="row g-3" [formGroup]="form" (ngSubmit)="changepassword()">
                           <div class="col-12">
                              <label for="newPassword" class="form-label">New Password</label>
                                 <input type="password" name="password" class="form-control" id="newPassword"
                                    formControlName="password" [ngClass]="{
                                          'is-invalid': submitted && f['password'].errors
                                       }" required>
                                 <div *ngIf="submitted && f['password'].errors" class="invalid-feedback">
                                    <div *ngIf="f['password'].errors?.['required']">
                                       *Please enter your password!
                                    </div>
                                    <div *ngIf="f['password'].errors?.['pattern']">
                                       *New password should contain atleast 1 capital char, 1
                                       special char and one digit!
                                    </div>
                                    <div *ngIf="f['password'].errors?.['minlength']">
                                       *New password should contain minimum of 8 characters!
                                    </div>
                                    <div *ngIf="f['password'].errors?.['maxlength']">
                                       *New password should not contain more than 16 characters!
                                    </div>
                              </div>
                           </div>
                           <div class="col-12">
                              <label for="renewPassword" class="form-label">Re-enter New
                                 Password</label>
                                 <input type="password" name="confirmpassword" class="form-control" id="renewPassword"
                                    formControlName="confirmpassword" [ngClass]="{
                                     'is-invalid': submitted && f['confirmpassword'].errors || f['confirmpassword'].errors?.['confirmedValidator']
                                   }" required>
                                 <div class="invalid-feedback"
                                    *ngIf="f['confirmpassword'].errors?.['confirmedValidator']">
                                    The password doesn't match.</div>
                                 <div *ngIf="submitted && f['confirmpassword'].errors" class="invalid-feedback">
                                    <div *ngIf="f['confirmpassword'].errors?.['required']">
                                       Please confirm your password.
                                    </div>
                              </div>
                           </div>
                           <div class="text-center"> <button type="submit" class="btn btn-primary">{{changetxt}}</button></div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</main>