<ng-container *ngIf="isAuthenticated()">
  <app-header
    *ngIf="!(_router.url === '/pages-register' || _router.url === '/pages-login' || _router.url === '/pages-error404' || _router.url==='/verifyphone'
     || _router.url==='/termscondition' || _router.url==='/forgotpassword' || _router.url==='/forgotverify' || _router.url==='/forgotchangepassword' || _router.url==='/webhome'
    )"></app-header>
  <app-sidebar
    *ngIf="!(_router.url === '/pages-register' || _router.url === '/pages-login' ||
     _router.url === '/pages-error404' || _router.url==='/verifyphone' || _router.url==='/termscondition' || _router.url==='/forgotpassword' || _router.url==='/forgotverify' || _router.url==='/forgotchangepassword' || _router.url==='/webhome'
     )"></app-sidebar>
  <router-outlet></router-outlet>
  <app-footer
    *ngIf="!(_router.url === '/pages-register' || _router.url === '/pages-login' || _router.url==='/forgotverify' || _router.url==='/forgotchangepassword' ||
    _router.url === '/pages-error404' || _router.url==='/verifyphone' || _router.url==='/termscondition' || _router.url==='/forgotpassword' || _router.url==='/webhome')"></app-footer>
</ng-container>
<ng-container *ngIf="!isAuthenticated()">
  <app-webheader
    *ngIf="!(_router.url === '/pages-register' || _router.url === '/pages-login' || _router.url === '/pages-error404' || _router.url==='/verifyphone'
     || _router.url==='/termscondition' || _router.url==='/forgotpassword' || _router.url==='/forgotverify' || _router.url==='/forgotchangepassword'
    )"></app-webheader>
  <router-outlet></router-outlet>
  <app-webfooter
    *ngIf="!(_router.url === '/pages-register' || _router.url === '/pages-login' || _router.url==='/forgotverify' || _router.url==='/forgotchangepassword' ||
    _router.url === '/pages-error404' || _router.url==='/verifyphone' || _router.url==='/termscondition' || _router.url==='/forgotpassword')"></app-webfooter>
  </ng-container>