
<main>
 <div class="onlyiconsidebar">
   <div class="sidebar">
      <div class="sidebar-holder">
         <ul class="sidebar-nav">
            <li routerLink="/dashboard">
               <span><i class="bi bi-grid" style="color: black;"></i></span>
               <span class="text">Dashboard</span>
            </li>

            <li routerLink="/manageemployee">
               <span><i class="pi pi-users" style="color: black;"></i></span>
                  <span class="text">Manage Employee</span>    
            </li>

            <li routerLink="/managedepartment">
               <span><i class="pi pi-sitemap" style="color: black;"></i></span>
               <span class="text">Department</span>    
            </li>
         </ul>
      </div>
   </div>
 </div>
</main>
 