<main id="main" class="main">
    <div class="card" id="tblmu">
        <div style="margin-top: 80px;margin-bottom: 10px;">
            <h3 style="color: #283895; text-align: center;">Manage Department</h3>
        </div>
        <div style="margin-bottom: 15px; text-align: right; margin-right: 20px;">
            <button pButton pRipple label="Add Department" icon="pi pi-sitemap" class="p-button-info p-button-sm"
                (click)="showAddDialog()"></button>
        </div>
        <p-table #dt1 [value]="data" responsiveLayout="scroll" [autoLayout]="true" [paginator]="true" [rows]="5"
            [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {last} of {totalRecords} entries"
            [globalFilterFields]="['id', 'department_name']">
            [rowsPerPageOptions]="[3, 5, 10]">

            <ng-template pTemplate="caption">
                <div class="Flex">
                    <span class="p-input-icon-left ml-auto">
                        <input pInputText class="cofsearch" type="text" #input
                            (input)="dt1.filterGlobal(input.value, 'contains')" placeholder="Search Department" />
                    </span> 
                </div>
            </ng-template>
            <ng-template pTemplate="header">
                <tr>
                    <th>Department Id</th>
                    <th>Department Name</th>  
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-department>
                <tr>
                    <td>{{department.id}}</td>
                    <td>{{department.department_name}}</td>
                    <td>
                        <p-button  icon="pi pi-sitemap" styleClass="p-button-sm mr-2 mb-2"></p-button>    
                    </td>
                </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage">
                <tr>
                    <td colspan="8">No Department found.</td>
                </tr>
            </ng-template>
        </p-table>
    </div>


    <!-- add department modal -->
    <p-dialog [(visible)]="visible" header="Add Department" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '50vw' }"
        [maximizable]="true" [modal]="true" class="dialog"
        >
        <form [formGroup]="form" (ngSubmit)="onAddDepartment()">
            <div class="row">

                <!-- Department Name-->
                <div class="form-group col-md-6">
                    <label for="department_name" class="form-label">Department Name<span class="asteriks">*</span></label>
                    <input type="text" formControlName="department_name" class="form-control" id="department_name" [ngClass]="{
                                       'is-invalid': submitted && f['department_name'].errors
                                     }">
                    <div *ngIf="submitted && f['department_name'].errors" class="invalid-feedback">
                        <div *ngIf="f['department_name'].errors?.['required']">
                            Please, enter employees's first name
                        </div>
                        <div *ngIf="f['department_name'].errors?.['pattern']">
                            Please enter a valid first name!
                        </div>
                    </div>
                </div>
        </div>
            <!-- Submit Button-->
            <div class="modal-footer" style="margin-top: 5px;">
                <p-button type="submit" icon="pi pi-user-plus" styleClass="p-button-sm p-button-info"
                    label="Add Department" (onclick)=" onAddDepartment()"></p-button>
            </div>
        </form>
    </p-dialog>
    <!-- update Department modal -->
</main>