<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-3 c0l-3">
        <div class="logo-container">
          <img src="assets/img/golden_book.jpg" alt="" class="logo">
        </div>
      </div>
      <div class="col-md-9 col-sm-9 col-9">
        <div class="menu-icon">
          <i class="bi bi-list">
           
          </i>
        </div>
        <div class="desktop_menu">
          <ul>
            <i class="bi bi-house-fill"></i>
            <li>Home</li> 
            <li>Books</li>
            <li>Store</li>
            <li>Event</li>
            <li>Contact</li>
            <li><a routerLink="/pages-login">Login</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>