<header>
  <div class="container">
        <div class="logo-container">
          <img src="assets/img/AB_reverse_vertical_logo_noback.png" alt="logo" class="logo">
        </div>

      <div class="header-menu-bar">
        <ul>
          <li class="list">
            <a href="#">
              <p-button  class="icon" icon="pi pi-home" ></p-button>  
              <span class="text">Home</span>
              <span class="circle"></span>
            </a>
          </li>
          <li class="list">
            <a href="#">
              <p-button  class="icon" icon="pi pi-phone" ></p-button>  
              <span class="text">Contact</span>
              <span class="circle"></span>
            </a>
          </li>
          <li class="list">
            <a href="#">
              <p-button  class="icon" icon="pi pi-info-circle" ></p-button>  
              <span class="text">About</span>
              <span class="circle"></span>
            </a>
          </li>
          <li class="list">
            <a routerLink="/pages-login">
              <p-button  class="icon" icon="pi pi-sign-in" ></p-button>  
              <span class="text">Login</span>
              <span class="circle"></span>
            </a>
          </li>
        </ul>
      </div>

  </div>
</header>