*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'poppins', sans-serif;
}
header{
  /* padding: 10px;
  background: rgba(57, 35, 248, 0.87);
  */
  display:flex;
  justify-content: center;
  align-items: center;
  height:100px; 
  background-color: #3d88c5;
  backdrop-filter: blur(30px);
  box-shadow: 0px 0px 30px rgba(227, 228, 237, 0.37);
  border: 2px solid rgba(255, 255, 255, 0.18);

}
.container{
  display: flex;
  align-items:center;
  justify-content: space-between;

}

.logo{
  width: 120px;
  height: 90px;
}

.logo hover{
  cursor: pointer;
}

.header-menu-bar{
  position:relative;
  width:600px;
  height:70px;
  /* background:linear-gradient(45deg, #2196f3, #e91e63 ); */
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

}
ul{
  display:flex;
  width:250px;
}
li{
  position: relative;
  width:70px;
  height:70px;
  list-style: none;
  z-index: 1;
}
a{
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100px;
  text-align:center;
  font-weight:500;

}
#icon{
  position: relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  color:#fff;
  font-size: 16px;
  /* Adjust the font size as needed */
  padding: 0.25rem 0.5rem;
  /* Adjust padding for a smaller size */
 

}
.text{
  position: absolute;
  color:white;
  font-weight: 400;
  font-size: .75em;
  letter-spacing: .05em;
  opacity:0;
  transform: translateY(20px);
  transition: .5s;
}

li:hover a .text{
  opacity:1;
  transform: translateY(10px);

}
/* 
.navigation{
  margin-top: 24px;
  position:relative;
  width:600px;
  height:70px;
  background:linear-gradient(45deg, #2196f3, #e91e63 );
  display:flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;

}
.navigation ul{
  padding: 0;
  margin: 0;
} 

.navigation ul li{
   list-style-type: none;
  color: rgb(246, 244, 248);
  display: inline-block;
  font-size: 18px;
  margin-left: 35px;  

  position: relative;
  width:70px;
  height:70px;
  list-style-type: none;
  z-index: 1;
}
li:hover{
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  color: rgb(241, 155, 75);
  transition: 0.4s ease-in-out;

}
@media screen and (min-width: 128px)and(max-width: 900px) {
  .navigation{
  position:fixed;
  right:0;
  top: 64px;
  width: 20px;
  height: 10px;

  }
}
a{
  color: rgb(246, 244, 248);
}
a:hover{
  color: rgb(241, 155, 75);
  transition: 0.4s ease-in-out;
} */